# Python virtual env aliases

alias venv='virtualenv -p /usr/local/bin/python3 .venv'
alias vac='source .venv/bin/activate'

alias aptupgrade='sudo apt update && sudo apt dist-upgrade -V && sudo apt autoremove'

alias myip='echo `curl -s ipinfo.io/ip`'