
mkreact () {
  cd $PROJECTS_PATH
  git clone https://github.com/kubehe/react-app-starter.git $1
  cd $1
  rm -rf .git
  curl -u 'kubehe' https://api.github.com/user/repos -d '{"name":"\${1}"}'
  git init 
  git add --all
  git commit -m "init"
  git push -u origin master
  code $PROJECTS_PATH/$1
}